<ng-container *transloco="let t; prefix: 'settings.tabs'">
  @if (userService.currentUser(); as currentUser) {
    @if (currentUser) {
      <div class="settings-container">
        <p-tabs [(value)]="activeTab" scrollable>
          <p-tablist>
            <p-tab [value]="SettingsTab.ViewPreferences">
              <i class="pi pi-desktop"></i> {{ t('view') }}
            </p-tab>
            <p-tab [value]="SettingsTab.ReaderSettings">
              <i class="pi pi-book"></i> {{ t('reader') }}
            </p-tab>
            @if (canOpenTab(SettingsTab.MetadataSettings)) {
              <p-tab [value]="SettingsTab.MetadataSettings">
                <i class="pi pi-sliders-h"></i> {{ t('metadata1') }}
              </p-tab>
              <p-tab [value]="SettingsTab.LibraryMetadataSettings">
                <i class="pi pi-database"></i> {{ t('metadata2') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.ApplicationSettings)) {
              <p-tab [value]="SettingsTab.ApplicationSettings">
                <i class="pi pi-cog"></i> {{ t('application') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.UserManagement)) {
              <p-tab [value]="SettingsTab.UserManagement">
                <i class="pi pi-users"></i> {{ t('users') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.EmailSettingsV2)) {
              <p-tab [value]="SettingsTab.EmailSettingsV2">
                <i class="pi pi-envelope"></i> {{ t('email') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.NamingPattern)) {
              <p-tab [value]="SettingsTab.NamingPattern">
                <i class="pi pi-sitemap"></i> {{ t('patterns') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.AuthenticationSettings)) {
              <p-tab [value]="SettingsTab.AuthenticationSettings">
                <i class="pi pi-lock"></i> {{ t('authentication') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.Tasks)) {
              <p-tab [value]="SettingsTab.Tasks">
                <i class="pi pi-list-check"></i> {{ t('tasks') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.AuditLogs)) {
              <p-tab [value]="SettingsTab.AuditLogs">
                <i class="pi pi-history"></i> {{ t('auditLogs') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.OpdsV2)) {
              <p-tab [value]="SettingsTab.OpdsV2">
                <i class="pi pi-globe"></i> {{ t('opds') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.DeviceSettings)) {
              <p-tab [value]="SettingsTab.DeviceSettings">
                <i class="pi pi-mobile"></i> {{ t('devices') }}
              </p-tab>
            }
            @if (canOpenTab(SettingsTab.AcquisitionProviders)) {
              <p-tab [value]="SettingsTab.AcquisitionProviders">
                <i class="pi pi-download"></i> {{ t('acquisition') }}
              </p-tab>
            }
          </p-tablist>
          <p-tabpanels>
            <!-- [GROUP: Lazy Tabs] -->
            <p-tabpanel [value]="SettingsTab.ReaderSettings">
              @if (visitedTabs().has(SettingsTab.ReaderSettings)) {
                <app-reader-preferences></app-reader-preferences>
              }
            </p-tabpanel>
            <p-tabpanel [value]="SettingsTab.ViewPreferences">
              @if (visitedTabs().has(SettingsTab.ViewPreferences)) {
                <app-view-preferences-parent></app-view-preferences-parent>
              }
            </p-tabpanel>

            @if (canOpenTab(SettingsTab.MetadataSettings)) {
              <p-tabpanel [value]="SettingsTab.MetadataSettings">
                @if (visitedTabs().has(SettingsTab.MetadataSettings)) {
                  <app-metadata-settings-component></app-metadata-settings-component>
                }
              </p-tabpanel>
              <p-tabpanel [value]="SettingsTab.LibraryMetadataSettings">
                @if (visitedTabs().has(SettingsTab.LibraryMetadataSettings)) {
                  <app-library-metadata-settings-component></app-library-metadata-settings-component>
                }
              </p-tabpanel>
            }

            @if (canOpenTab(SettingsTab.ApplicationSettings)) {
              <p-tabpanel [value]="SettingsTab.ApplicationSettings">
                @if (visitedTabs().has(SettingsTab.ApplicationSettings)) {
                  <app-global-preferences></app-global-preferences>
                }
              </p-tabpanel>
            }

            <!-- [GROUP: Eager Tabs (Always Rendered to ensure initialization)] -->
            @if (canOpenTab(SettingsTab.UserManagement)) {
              <p-tabpanel [value]="SettingsTab.UserManagement">
                <app-user-management></app-user-management>
              </p-tabpanel>
            }

            @if (canOpenTab(SettingsTab.EmailSettingsV2)) {
              <p-tabpanel [value]="SettingsTab.EmailSettingsV2">
                <app-email-v2></app-email-v2>
              </p-tabpanel>
            }

            <!-- [GROUP: Lazy Tabs Continued] -->
            @if (canOpenTab(SettingsTab.NamingPattern)) {
              <p-tabpanel [value]="SettingsTab.NamingPattern">
                @if (visitedTabs().has(SettingsTab.NamingPattern)) {
                  <app-file-naming-pattern></app-file-naming-pattern>
                }
              </p-tabpanel>
            }

            @if (canOpenTab(SettingsTab.AuthenticationSettings)) {
              <p-tabpanel [value]="SettingsTab.AuthenticationSettings">
                @if (visitedTabs().has(SettingsTab.AuthenticationSettings)) {
                  <app-authentication-settings></app-authentication-settings>
                }
              </p-tabpanel>
            }

            @if (canOpenTab(SettingsTab.Tasks)) {
              <p-tabpanel [value]="SettingsTab.Tasks">
                @if (visitedTabs().has(SettingsTab.Tasks)) {
                  <app-task-management></app-task-management>
                }
              </p-tabpanel>
            }

            @if (canOpenTab(SettingsTab.AuditLogs)) {
              <p-tabpanel [value]="SettingsTab.AuditLogs">
                @if (visitedTabs().has(SettingsTab.AuditLogs)) {
                  <app-audit-logs></app-audit-logs>
                }
              </p-tabpanel>
            }

            @if (canOpenTab(SettingsTab.OpdsV2)) {
              <p-tabpanel [value]="SettingsTab.OpdsV2">
                @if (visitedTabs().has(SettingsTab.OpdsV2)) {
                  <app-opds-settings></app-opds-settings>
                }
              </p-tabpanel>
            }

            @if (canOpenTab(SettingsTab.DeviceSettings)) {
              <p-tabpanel [value]="SettingsTab.DeviceSettings">
                @if (visitedTabs().has(SettingsTab.DeviceSettings)) {
                  <app-device-settings-component></app-device-settings-component>
                }
              </p-tabpanel>
            }

            @if (canOpenTab(SettingsTab.AcquisitionProviders)) {
              <p-tabpanel [value]="SettingsTab.AcquisitionProviders">
                @if (visitedTabs().has(SettingsTab.AcquisitionProviders)) {
                  <app-acquisition-providers></app-acquisition-providers>
                }
              </p-tabpanel>
            }
          </p-tabpanels>
        </p-tabs>
      </div>
    }
  }
</ng-container>
